@charset "UTF-8";
@media (prefers-color-scheme: light) {
  :root {
    --finder-background-color: #ffffff;
    --finder-text-color: #000000;
    --finder-background-selected-color: #000000;
    --finder-text-selected-color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --finder-background-color: #000000;
    --finder-text-color: #ffffff;
    --finder-background-selected-color: #ffffff;
    --finder-text-selected-color: #000000;
  }
}

body {
  background-color: var(--finder-background-color);
  font-size: 10px;
}

.finder {
  display: flex;
  /*日本語に必要*/
  white-space: nowrap;
  background-color: var(--finder-background-color);
  color: var(--finder-text-color);
  height: 300px;
}
.finder .finder-col, .finder .finder-col-last, .finder .finder-filename-col {
  min-width: 100px;
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 101%;
}
.finder .finder-col > .finder-row-items, .finder .finder-col-last > .finder-row-items, .finder .finder-filename-col > .finder-row-items {
  height: 101%;
  overflow-y: hidden;
}
.finder .finder-filename-col {
  min-width: 150px;
}
.finder .finder-filename-col > .finder-row-items {
  height: 101%;
  overflow-y: hidden;
}
.finder .finder-col-last {
  flex-grow: 1;
}
.finder .finder-col-last > .finder-row-items {
  height: 101%;
  overflow-y: auto;
}

.finder-row-item {
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: hidden;
  flex-wrap: nowrap;
}
.finder-row-item.right {
  text-align: right;
}
.finder-row-item.center {
  text-align: center;
}
.finder-row-item.selected {
  background-color: blueviolet;
}

.finder-row-hasIndent .finder-row-item .finder-row-item {
  padding-left: 1em;
}

.finder-row-title {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  background-color: var(--finder-background-color);
  display: flex;
  justify-content: space-between;
  border-bottom: thin solid #999999;
}
.finder-row-title.mouse_down {
  background-color: rgba(130, 130, 130, 0.8);
}
.finder-row-title .finder-row-title-string {
  max-width: calc(100% - 2em);
  overflow-x: hidden;
  user-select: none;
}
.finder-row-title .finder-row-title-button {
  display: flex;
  align-items: center;
}
.finder-row-title .finder-row-title-button .button-icon {
  vertical-align: center;
}
.finder-row-title .finder-row-title-button .non-drag-area, .finder-row-title .finder-row-title-button .drag-area {
  min-width: 7pt;
  max-width: 7pt;
  height: 1.5em;
  flex-basis: 7pt;
  flex-grow: 0;
  flex-shrink: 0;
}
.finder-row-title .finder-row-title-button .drag-area {
  border-right: thin solid #999999;
  cursor: col-resize;
}

.finderHeaderContextMenu {
  display: none;
  position: fixed;
  /*height:100px;*/
  white-space: nowrap;
  overflow-x: hidden;
  margin: 0;
  padding: 1em 1em 1em 10em;
  background-color: var(--finder-background-color);
  color: var(--finder-text-color);
  border: 1px solid #eee;
  border-radius: 3%;
  padding-inline-start: 0px;
}
.finderHeaderContextMenu.show {
  display: block;
}
.finderHeaderContextMenu li {
  list-style: none;
  margin: 0px;
  padding-right: 3px;
  cursor: pointer;
}
.finderHeaderContextMenu li.selected {
  background-color: var(--finder-background-selected-color);
  color: var(--finder-text-selected-color);
  border-radius: 3%;
}

/*# sourceMappingURL=finder_old.css.map */
